.field {
    display: flex;
    background: url('../images/bg-field.jpg') center center no-repeat;
    background-size: cover;
  }
  
  .field-wrap {
    margin-top: 40px;
    padding: 7px;
    border: 5px solid #3EAA5E;
    border-radius: 7px;
  }
  
  .container-app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }