.cell {
    padding: 10px;
    width: 70px;
    height: 70px;
    
}

.cell-value {
    background-color: white;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cell-value__2player {
    background-color: blue;
}

.cell-value__1player {
    background-color: red;
}



