.player-status__wrap {
    background: url('../images/bg-field.jpg') center center no-repeat;
    border-radius: 5px;
    max-height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-status__active__blue {
    border: 3px solid blue;
}

.player-status__active__red {
    border: 3px solid red;
}

.player-status__img {
    max-width: 70px;
    margin-bottom: 20px;

}

.cell-template {
    border-radius: 35px;
    width: 70px;
    height: 70px;
}